@import "./base/normalize";            /* Стилі нормалізатора */
@import "./base/reset-styles";         /* Стилі reset */
@import "./utils/vars";                /* Змінні CSS */
@import "./base/base-styles";          /* Стилі контейнера і body */
@import "./utils/mixin";               /* Mixin */
@import "./utils/visually-hidden";     /* visually-hidden */
@import "./components/header";         /* Стилі шапки сайта*/
@import "./components/hero";           /* Стилі блока герой */
@import "./components/info";           /* Стилі інфо блока */
@import "./components/what-dowedo";    /* Стилі блока Чим ми займаємося */
@import "./components/team";           /* Стилі блока Наша команда */
@import "./components/clients";        /* Стилі блока Постійні клієнти */
@import "./components/footer";         /* Стилі блока Підвал */
@import "./components/portfolio";      /* Стилі сторінки Портфоліо */
@import "./components/modal";          /* Стилі Модального вікна */






















