/* СТИЛІ ІНФОРМАЦІЙНОГО БЛОКА */

.info-list {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  padding-top: 94px;
}

.info-list__item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.info-list__item::before {
  display: block;
  content: '';
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  
}

.icon-antena::before {
  background-image: url(../images/icons/antena.svg);
}

.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.info-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.info-list__text {
  margin-top: 0;
  margin-bottom: 0;
  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}