/* ПОРТФОЛІО */

/* СТИЛІ МЕНЮ ПОРТФОЛІО */

.portfolio {
  @include section ();
}

.portfolio-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-menu__item {
  border-radius: 4px;
  margin-right: 8px;
   &:last-child {
   margin-right: 0;
  }
  transition: box-shadow $duration-function $timing-function;
  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
  }
}



.portfolio-menu__btn {
  display: block;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 25px;
  cursor: pointer;
  border: 1px solid transparent;
  min-width: 73px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  transition: color $duration-function $timing-function,
  background-color $duration-function $timing-function;
  &:hover,
  &:focus {
    color: $white-color-text;
    background-color: $primary-blue-color;
  }
}

/* СТИЛІ НАШІ РОБОТИ */

.work-list {
  display: flex;
  flex-wrap: wrap;
}

.work-list__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: box-shadow $duration-function $timing-function;
  &:hover,
  &:focus {
    opacity: 1;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:nth-child(3n) {
  margin-right: 0;
  }
  &:nth-last-child(-n + 3) {
  margin-bottom: 0;
  }
}

.portfolio-product__img {
  overflow: hidden;
  position: relative;
}

.portfolio-product__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $duration-function $timing-function;
  .work-list__item:hover & {
    transform: translateY(0%);
  }
}

.portfolio-product__info {
  position: absolute;
  display: flex;
  padding: 63px 24px;
}

.portfolio-product__text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $white-color-text;
}

.portfolio-meta {
  padding: 20px 24px;
  background: $white-color-text;
  border: 1px solid #eeeeee;
  border-top: inherit;
}

.portfolio-meta__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $primary-text-color;
}

.portfolio-meta__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}
