/* СТИЛІ ЧИМ ЗАЙМАЄМОСЯ */

.what-dowedo {
  @include section ();
}

.what-dowedo__title {
  @include title ();
}

.product-list {
  display: flex;
  justify-content: space-between;
}

.product-list__item {
  position: relative;
}

.product-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color-text;
}